-content_for(:left_bar_title, "Collection")
-content_for(:left_bar_content) do
  =link_to "New Collection Point", new_cp_path, :class=> "left_bar_button"

-content_for(:content) do
  %table.data
    %tr
      %th Name
      %th Created
      %th Latitude
      %th Longitude
    -@cps.each do |cp|
      %tr
        %td= link_to cp.name, cp
        %td= link_to cp.updated_at, cp
        / %td= link_to cp.longitude, cp
        %td.edit= link_to('Edit', edit_cp_path(cp), :id => "edit #{cp.name}") + ' | ' + link_to('Destroy', cp, method: :delete, data: { confirm: 'Are you sure?' })

  %div#map

:javascript
$document.ready(function() {
  console.log($("#map"));
});