-content_for(:left_bar_title, "Update Tea Deposit")
-content_for(:left_bar_content) do
  = link_to 'Back', deposits_path, :class => "left_bar_button"
  = link_to 'Show tea deposit', @deposit, :class => "left_bar_button"

= render 'form'

