$background-color: #fbfbfb;
$tea-green: #a4cb38;
$dark-gray: #515254;
$medium-gray: #999;
$light-gray: #dedfe0;

/* LAYOUT */
html, 
body {
	height: 100%;
  margin: 0;
  padding: 0;
}
body {
	background: $background-color;
}

/* TYPOGRAPHY */
h1 {
  font-size: 1.3em;
  text-transform: uppercase;
  font-family: league-gothic, helvetica, sans-serif;
  color: white;
}

p,
table {
  font-family: "Open Sans", helvetica, sans-serif;
  font-weight: 300;
}

/* RIGHT NAVIGATION */
.right-side-nav {
  position: fixed;
  background: $dark-gray;
  padding: 35px 0 0px 0;
  right: 0;
  top: 0;
  overflow: hidden;
  text-transform: uppercase;
  width: 150px;
  z-index: 1;
  .logo {
    margin: 0 auto 20px auto;
    padding: 0;
  }
}
.right-navigation-item {
  padding: 10px 25px;
  display: block;
  color: white;
  font-family: league-gothic, helvetica, open-sans;
  font-size: 29px;
  &.active,
  &:hover {
    color: $dark-gray;
  }
  &.active,
  &.active:hover {
    cursor: default;
    background: $background-color;
    background: $background-color;
  }
  &:hover {
    background: $medium-gray;
    cursor: pointer;
  }
  &.logout {
    text-align: right;
    color: $dark-gray;
    background: $light-gray;
    font-size: 18px;
    &:hover {
      color: $light-gray;
      background: $medium-gray;
      cursor: pointer;
    }
  }
}

/* LEFT SIDE CONTENT */
.left-side-bar {
  height: 100%;
  width: 175px;
  background: $dark-gray;
  position: fixed;
  top: 0;
  left: 0;
  h1 {
    padding-top: 80px;
    color: white;
    display: block;
    background: $tea-green;
    text-align: center;
    font-size: 52px;
  }
}

/* CONTAINER */
.content {
  padding: 25px 200px;
}

#wrapper {
	position: relative;
	min-height: 100%;
}
.container {
	width: 960px;
	margin: 0 auto;
}
#main {
	position: relative;
	padding: 131px 0 60px;
}

.logo {
	height: 60px;
	width: 60px;
	background: url(image_path('tea-tracker-logo.png'));
  background-size: cover;
}

#login {
	display: block;
	position: absolute;
	background: #74a176;
	top: 8px;
	right: 0;
	height: 33px;
	padding: 0 13px;
	font: bold 16px/33px gandhi_sansbold, arial, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: white;
	-webkit-box-shadow: 0 2px 3px rgba(50, 50, 50, 0.4);
	-moz-box-shadow:    0 2px 3px rgba(50, 50, 50, 0.4);
	box-shadow:         0 2px 3px rgba(50, 50, 50, 0.4);
}

#footer {
	position: absolute;
	bottom: 0;
	height: 30px;
	width: 100%;
	background-color: #2e2e2e;
	font: 12px/30px helvetica, arial, san-serif;
	color: #bababa;
	text-align: right;
}

/* __Tables__ */
table#main{
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #222222;
  color: #555555;
  background: #ffffff;
}

td#main, th#main {
  border: 1px dotted #bbbbbb;
  padding: .5em;
}

th {
  border: 1px solid #222222;
  background-color: #666666;
  text-align: center;
}
th span, th a:link, th a:visited {
  font-size: 1.1em;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}
th a:hover {
  color: #b2f7b5;
  text-decoration: underline;
}
td a:link, td a:visited {
  color: #333333;
  text-decoration: none;
}
td a:hover {
  text-decoration: underline;
}

table .odd {background: #fcfcfc;}

tr:hover {background: #fafafa;}

/* __Misc__ */

div.submit {
  background-color: #336600;
}